.root-layout {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 200px; /* 사이드바 너비 */
    background-color: #f8f9fa;
    color: black;
    flex-shrink: 0; /* 사이드바 크기 고정 */
  }
  
  .main-content {
    flex: 1;
    margin-left: 220px; /* 사이드바 너비만큼 여백 */
    min-height: 100vh;
    background-color: #f9fafb;
  }
  
  .header {
    background-color: #f8f9fa;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
  }
  
  main {
    padding: 24px;
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    width: 100%; /* 가로 전체 차지 */
  }
  