.sidebar {
  width: 220px;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  position: fixed;
  padding: 10px 0px;
  height: 100vh;
}

.logo-container {
  padding: 12px 20px;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  height: 70%;
  width: 70%;
}

.sidebar-nav {
  padding: 0px;
}

.nav-item {
  list-style: none;
  margin-bottom: 8px;
}

.nav-item a {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  text-decoration: none;
  color: #6b7280;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.nav-item:hover a {
  background-color: #f3f4f6;
  color: #4b5563;
}

.icon {
  margin-right: 12px;
  font-size: 20px;
}

.text {
  font-size: 14px;
  font-weight: 500;
}